// ###############
// # Footer Disclaimer
// # Use this component for copyright info in page footer
// ###############

.aw-footer-disclaimer {
	.small();
	color: @aw-footer-disclaimer-color;
	line-height: 4;

	text-align: center;
	display: block;
}