/*-------------------------------------------------*\
  Footer disclaimer
  - Para usar na informação de copyright no rodapé
\*-------------------------------------------------*/

.aw-footer-disclaimer {
	.small();

	display: block;

  color: @aw-footer-disclaimer-color;

  line-height: 4;
  text-align: center;
}