.aw-btn-cancel {
	.button-variant(@aw-btn-cancel-color; @aw-btn-cancel-bg; @aw-btn-cancel-border);
}

.aw-btn-link-danger {
	color: @aw-btn-danger-link-color;

	&:hover, &:active, &:focus {
		color: darken(@aw-btn-danger-link-color, 15%);
		
    outline: none;
	}
}

.aw-btn-thin-caret {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.aw-btn-full-width {
	width: 100%;
}