// Customização do page-header (Bootstrap)
.page-header {
  padding-bottom: 0px;

  background-color: @aw-page-header-bgcolor;

  h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
	margin: 0;
	height: @aw-page-header-height;

    color: @aw-page-header-title-color;
  }
}


// Custom
.aw-page-header-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: @aw-page-header-height;
}