.aw-layout-simple-page {
  background-color: @aw-layout-simple-page-bg;
}

.aw-layout-simple-page__container {
  display: block;
  max-width: 420px;
  margin: auto;
  padding: 0 10px;
  padding-top: 10%;
}