.aw-layout-loading {
  position: fixed;
  z-index: 9998;

  display: none; // 'display: table' to show
  width: 100%;
  height: 100%;
  padding-bottom: 65px;

  text-align: center;
}

.aw-layout-loading__container {
  display: table-cell;
  vertical-align: middle;
}